.card {
    background-color: blue;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 0px 0px 10px gray;
    transition-duration: 200ms;

}

.card:hover {

    box-shadow: 0px 0px 5px 3px gray;
}

.card div {
    padding: 5px;
}

.card .title {
    color: #F6F6F6;
    background-color: blue;
    font-size: 25px;
}



.card .content {
    background-color: #F6F6F6;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
}